<template>
  <div id="app">
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item router-link to="/">Produto</b-nav-item>
           <b-nav-item router-link to="/fabricante">Fabricante</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <router-view />
    <div>
      <b-jumbotron class="footer"></b-jumbotron>
    </div>
  </div>
</template>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.top {
  margin-top: 50px;
}
.botao {
  float: right;
}
.cartao {
  margin-top: 20px;
}
.paginacao {
  margin-left: 400px;
}

body {
  background-color: #EFFBF8 !important;
}

.footer {
  background-color: #17a2b8 !important;
  margin-bottom: 0px !important;
}
</style>
