<template>
  <div class="fabricante">
    <div id="app" class="container cartao">
		  <div id="inicio" class="container-fluid table" >

        <h4>Cadastro de Fabricante</h4>
        <b-card>
          <b-form>
            <b-container class="bv-example-row">
              <b-form-group label="Nome do fabricante:" label-for="nome">
                <b-form-input id="nome" v-model="fabricante.nome" placeholder="Entre com o name"></b-form-input> 
              </b-form-group> 
            </b-container>
            <b-button variant="primary" @click="salvar()" class="botao" >Cadastrar</b-button>
          </b-form>
        </b-card>

			  <h4 style="margin-top: 20px">Lista de Fabricantes</h4>
        <b-card>
          <table class="table top" id="my-table" :items="fabricantes" :per-page="perPage" :current-page="currentPage">
            <tr>
              <th>Id</th>
              <th>Fabricante</th>
              <th>Ações</th>
            </tr>
            <tbody id="event-table">
              <tr v-for="fabricante in fabricantes" v-bind:key="fabricante.id">
                <td>{{ fabricante.id }}</td> 
                <td>{{ fabricante.nome }}</td> 
                <td>
                <b-row>
                  <b-col cols="2">
                    <b-button v-b-tooltip.hover title="Editar" variant="success"><span @click="editar(fabricante)">&#9998;</span></b-button>
                  </b-col>
                  <b-col cols="2">
                    <b-button v-b-tooltip.hover title="Excluir" variant="danger"><span @click="remover(fabricante)">&#10006;</span></b-button>
                  </b-col>
                </b-row>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="paginacao">
            <b-pagination v-model="currentPage" :total-rows="rows" :per-page="perPage" aria-controls="my-table">
            </b-pagination>
          </div>
        </b-card>
	    </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Index from "@/components/Index.vue";
import Fabricante from '../services/fabricantes.js'

export default {
  components: {
    // Index
  },
  data(){
    return {
      fabricante: {
        id: '',
        nome: ''
      },
      fabricantes: [],
      perPage: 5,
      currentPage: 1,
    };
  },
  computed: {
      rows() {
        return this.fabricantes.length
      }
    },
  mounted() {
    Fabricante.listar().then(resposta =>  {
      this.fabricantes = resposta.data;
    })
  },
  methods: {
    salvar(){
      Fabricante.salvar(this.fabricante).then(resposta => {
        this.fabricante = {}
        alert('Salvo com sucesso')
        this.listar()
      })
      Fabricante.atualizar(this.fabricante).then(resposta => {
        this.fabricante = {}
        alert('Atualizado com sucesso')
        this.listar()
      })
    }
  },
  editar(fabricante){
      this.fabricante = fabricante;
  },
  remover(fabricante){
    Fabricante.deletar(this.fabricante).then(resposta => {
      alert('Deletado com sucesso')
        this.listar();
        this.errors = []
    }).catch(e => {
        this.errors = e.response.data.errors; 
    })
  }
  
};
</script>
