<template>
  <div class="home">
    <div id="app" class="container cartao">
      <h4>Cadastro de Produto</h4>
      <b-card>
        <b-form>
          <b-container class="bv-example-row">
            <b-row>
              <b-col>
                <b-form-group label="Nome:" label-for="nome">
                  <b-form-input v-model="produto.nome" id="nome" placeholder="Entre com o nome"></b-form-input> 
                </b-form-group> 
              </b-col>

              <b-col>
                <b-form-group label="Fabricante:" label-for="fabricante">
                  <b-form-select v-model="produto.fabricante.nome">
                    <option>Selecione um fabricante</option>
                    <option v-for="fabricante in fabricantes" v-bind:key="fabricante.nome">
                      {{fabricante.nome}}
                    </option>
                  </b-form-select>
                </b-form-group>
              </b-col>
            </b-row> 

            <b-row>
              <b-col>
                <b-form-group label="Volume:" label-for="volume">
                  <b-form-input v-model="produto.volume" id="volume"></b-form-input> 
                </b-form-group>
              </b-col>

              <b-col>
                <b-form-group label="Unidade:" label-for="unidade">
                  <b-form-input v-model="produto.unidade" id="unidade" ></b-form-input> 
                </b-form-group>
              </b-col>
            
              <b-col>
                <b-form-group label="Estoque:" label-for="estoque">
                  <b-form-input v-model="produto.estoque" id="estoque"></b-form-input> 
                </b-form-group>
              </b-col>
            </b-row> 
          </b-container>
          <b-button variant="primary"  class="botao" @click="salvar()" >Cadastrar</b-button>
        </b-form>
      </b-card>

		  <div id="inicio" class="container-fluid table top" >
			  <h4>Lista de Produtos</h4>
        <b-card>
			    <table class="table" id="my-table" :items="produtos" :per-page="perPage" :current-page="currentPage">
            <tr>
              <th>Nome</th>
              <th>Fabricante</th>
              <th>Volume</th>
              <th>Unidade</th>
              <th>Estoque</th>
              <th>Ações</th>
            </tr>
				    <tbody id="event-table">
              <tr v-for="produto in produtos" v-bind:key="produto.id">
                <td>{{ produto.nome }}</td> 
                <td>{{ produto.fabricante}}</td> 
                <td>{{ produto.volume }}</td> 
                <td>{{ produto.unidade }}</td> 
                <td>{{ produto.estoque }}</td>
                <td>
                <b-row>
                  <b-col cols="3">
                    <b-button v-b-tooltip.hover title="Editar" variant="success"><span @click="editar(produto)">&#9998;</span></b-button>
                  </b-col>

                  <b-col cols="3">
                    <b-button v-b-tooltip.hover title="Excluir" variant="danger"><span @click="remover(produto.id)">&#10006;</span></b-button>
                  </b-col>
                </b-row>
                </td>
              </tr>
				    </tbody>
			    </table>
          <div class="paginacao">
            <b-pagination v-model="currentPage" :total-rows="rows" :per-page="perPage" aria-controls="my-table">
            </b-pagination>
          </div>
        </b-card>
	  	</div>
	  </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Index from "@/components/Index.vue";
import Produto from '../services/produtos.js';
import Fabricante from '../services/fabricantes.js';

export default {
  config: {
    headers: {
      "Access-Control-Allow-Origin": "http://localhost:8081/",
      "Access-Control-Allow-Methods": "GET, POST, PATCH, PUT, DELETE, OPTIONS",
      "Access-Control-Allow-Headers": "Origin, Content-Type, X-Auth-Token"
      }
  },
  components: {
    Index
  },
  data(){
    return {
      produto: {
        id: '',
        nome: '',
        fabricante:{
          id: '',
          nome: ''
        },
        volume: '',
        unidade: '',
        estoque: ''
      },
      produtos: [],
      fabricantes: [],
      perPage: 15,
      currentPage: 1,
    };
  },
  computed: {
      rows() {
        return this.produtos.length
      }
    },
  mounted() {
    Produto.listar().then(resposta =>  {
      this.produtos = resposta.data;
    }),

    Fabricante.listar().then(resposta =>  {
      this.fabricantes = resposta.data;
    })
  },
  methods: {
    salvar(){
      if(!this.produto.id){
        Produto.salvar(this.produto).then(resposta => {
          console.log('Dados do produto - id: "'+this.produto.id + '"');
          console.log('Dados do produto - nome: "'+this.produto.nome + '"');
          console.log('Dados do produto - id do abricante: "'+this.produto.fabricante.id + '"');
          console.log('Dados do produto - nome do abricante: "'+this.produto.fabricante.nome + '"');
          console.log('Dados do produto - Volume: "'+this.produto.volume + '"');
          console.log('Dados do produto - Unidade: "'+this.produto.unidade + '"');
          console.log('Dados do produto - Estoque: "'+this.produto.estoque + '"');
          this.produto = {}
          alert('Salvo com sucesso')
        })
      }else {
        Produto.atualizar(this.produto, this.produto.id).then(resposta => {
            this.produto = {}
            alert('Atualizado com sucesso')
        })
      }
    },
    editar(produto){
      this.produto = produto;
    },
    remover(id){
      if(confirm("Tem certeza que deseja excluir essa categoria?")){
        Produto.deletar(this.produto.id).then(resposta => {
          alert('Deletado com sucesso')
          this.listar();
          this.errors = [];
        }).catch(e => {
          this.errors = e.response.data.errors;
        });
      }
    }
  }
};
</script>
